<ion-grid class="myGrid">
  <ion-row>
    <ion-col>
      <ion-img src="../../../assets/home-image-3.jpg"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text class="headline">
        <h3>Welcome to the Globomantics app!</h3>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text color="primary">
        <h1>THE FUTURE</h1>
      </ion-text>
      <ion-text color="danger">
        <h1>WAS FIVE MINUTES AGO</h1>
      </ion-text>
      <ion-text>
        <p>We were there and it's going to be epic!</p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>