<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="../../../assets/our-story-image-3.jpg" />
        <ion-card-header>
          <ion-card-subtitle>#johndoe</ion-card-subtitle>
          <ion-card-title>John Doe named new CEO</ion-card-title>
        </ion-card-header>
        <ion-card-content>John Doe was recently named CEO of Globomantics Corp.</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="../../../assets/our-story-image-2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>#surgerybot</ion-card-subtitle>
          <ion-card-title>SurgeryBot is a hit</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Sales of the surgerybot have skyrocketed!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>